﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AboutUs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<style>

.container{
width: 80%;
margin:0 auto;
padding: 10%; 
}

</style>


<div class="container">
    <h1>@Model.Value("title")</h1>
</div>

<hr>

<div class="container">
    <p>@Model.Value("aboutUsParagraph")</p>
</div>
