﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

@{
	var selection = Umbraco.Content(Guid.Parse("026c4c82-3473-4be6-8864-4118281980c5"))
    .Children()
    .Where(x => x.IsVisible());
}






<style>

.container{
width: 80%;
margin:0 auto;
padding: 10%; 
}

ul {
    list-style:none;    
}
ul > li {
    display: inline-block;
    margin-right: 20px;
}

</style>


<div class="container">
    <h1>WowGo</h1>
     <h3>@Model.Value("introductionText")</h3>
     <h5>@ViewBag.Result</h5>
</div>

<hr>

<div class="container">
    
   
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>
</div>


