﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<style>

.container{
width: 80%;
margin:0 auto;
padding: 10%; 
}
ul {
    list-style:none;    
}
ul > li {
    display: inline-block;
    margin-right: 20px;
}

</style>


<div class="container">
    <h1>Our products</h1>
</div>

<hr>

<div class="container">
  
@{
	var selection = Umbraco.Content(Guid.Parse("a6a14eda-ecac-481d-a477-07c5054b2548"))
    .Children()
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>


</div>
