﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Product>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}

<style>

.container{
width: 80%;
margin:0 auto;
padding: 10%; 
}
.left, .right {
    width:50%;
    float:left;
}

</style>


<div class="container">
    <h1>@Model.Value("productName")</h1>
    <h2 style="text-align: right;">€ @Model.Value("price")</h2>

<hr>
    <div class="left">
         @{
    var typedMultiMediaPicker = Model.Value<IEnumerable<IPublishedContent>>("images");
    foreach (var item in typedMultiMediaPicker)
    {
        <img src="@item.Url" style="width:200px"/>
    }

}
    </div>
    <div class="right"> <p><i>@Model.Value("description")</i></p>
    <h4>Details:</h4>
    <p>@Model.Value("details")</p>
    
</div>
   


    
</div>